body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:Arial, Helvetica, sans-serif;
}

.container {
  background-color: rgb(156, 89, 219);
  max-width: 760px;
  margin: 125px auto;
  border-radius: 5px;
  overflow: hidden;
}
h1 {
  text-align: center;
  padding: px;
  font-size: 40px;
  padding-top: 20px;
  margin-top: 30px;
  color: #fff;
  text-transform: uppercase;
}

h2 {
  text-align: center;
  padding: 5px;
}
.form {
  text-align: center;
  background-color: #fff;
  max-width: 500px; 
  margin: auto;
  border-radius: 5px;

}

.form form {
  padding: 10px 15px;
  display: flex;
  justify-content:center;
  align-items: center;
}

.form form * {
  margin: 5px;
}

.form form label {
  font-size: 15px;
  padding: 5px;
  font-family: Arial, Helvetica, sans-serif;
}

.form form input {
  border: 1 px solid gainsboro;
  padding: 5px 20px;
}
ul li {
  list-style-type: none;
  text-align: left;
}
.box {
  background-color: #fff;
  min-width: 250px;
  border-radius: 5px;
  border: 1px solid;
  padding: 10px;
}
.box ul {
  padding-left: 0;
  text-align: center;
}
.box ul li {
  text-align: left;
  padding: 5px;
  border-bottom:  1px solid gray;
}
.box-2 {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  margin-bottom: 20px;
}
.delete-btn {
  background-color: red;
  color: #fff;
  border: none;
  outline: none;
  border-radius: 3px;
  padding: 3px 5px;
  text-align:right;
}

.btn-div {
  text-align: right;
}

.incomplete-tasks ul li label{
  margin-left: 5px;
}
.complete-tasks ul li {
  display: flex;
  justify-content:space-between;
  align-items: center;
}